/* General Card Styling for Module Card */
.card.module {
	display: flex;

	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	padding: 0 0 0;

	border: 1px solid rgba(51, 51, 51, 0.25);
}

.module-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.7em;
}

.module-inner-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.2em;
}
.arrow-icon-container {
	display: flex;
}

.indicator {
	width: 9px;
	min-width: 9px;
	height: 100%;
	filter: saturate(1.4);
	position: sticky;

	z-index: 2;
}

.arrow-icon {
	font-size: 2em;
	height: auto;
	width: auto;
}
.card-name {
	display: flex;
	align-items: center;
	width: 15%;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0 0.5em 0 0.2em;
	transform: translateY(-0.05em);
	transition: color 0.2s ease-in-out;
}

.card-name:hover {
	color: var(--primary-blue);
}

.card-name span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

.card-section {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column;
	gap: 0.05em;
	justify-items: center;
	align-items: center;
	padding: 0.1em 0.5em 0.5em 0.5em;
	box-sizing: border-box;
	cursor: pointer;
}

.section-label {
	font-size: 0.7em;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
}

.card-status {
	height: 100%;
	width: 100%;
}
.card-status span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	padding: 0.1em 0.7em;
	border: 1px solid rgba(51, 51, 51, 0.25);
	border-radius: 4px;
	font-size: 0.75em;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}

.date-label {
	position: relative;
	z-index: 2;
	font-size: 0.5em;
	font-weight: 500;
	color: #1f2937;
}

.progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 4px;
	border: 1px solid rgba(51, 51, 51, 0.2);
	overflow: hidden;
}

.progress-fill {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #3b82f6;
	z-index: 1;
}

.progress-bar-battery {
	display: flex;
	width: 100%;
	height: 100%;
}

.progress-fill-battery {
	height: 100%;
	transition: all 0.2s ease;
}

.progress-fill-battery:hover {
	transform: scaleY(1.2);
	border-radius: 4px;
}

.container-submodules {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: max-height 0.3s ease;
}

.container-submodules.expanded {
  padding: 8px 0;
}


/* ...other shared styles can be added here as needed... */
