<div class="card subModule">
    <!-- Main container for the subModule card -->
    <div class="subModule-container">
        <!-- Priority indicator bar, color changes based on priority -->
        <div class="indicator priority-{{subModuleData.priorityName}}" [class.expanded]="expanded()"></div>
        <div class="subModule-inner-container">
            <!-- Expand/collapse arrow icon -->
            <span class="arrow-icon-container" (click)="expandWorkInside()">
                <mat-icon class="arrow-icon">
                    @if (!expanded()){keyboard_arrow_right} @else {keyboard_arrow_down}
                </mat-icon>
            </span>

            <!-- subModule name, opens form on click -->
            <div (click)="openForm()" class="card-name">
                <span>{{subModuleData.subModuleName}}</span>
            </div>

            <!-- Section: Work state progress bar -->
            <div class="card-section">
                <span class="section-label">State</span>
                <div class="progress-bar-battery">
                    @for (item of subModuleData.workStateCountList; track $index) {
                    <!-- Progress bar segment for each work state -->
                    <div class="progress-fill-battery state-{{dataService.formatClassName(item.name)}}"
                        [matTooltip]="getTooltip(item.name,item.count,item.percentage)"
                        [style.width.%]="item.percentage">
                        <!-- {{getTooltip(item.name,item.count,item.percentage)}} -->
                    </div>
                    }
                </div>
            </div>

            <!-- Section: Priority with pop-up to change priority -->
            <!-- <div class="card-section">
                <span class="section-label">Priority</span>
                <div class="card-status priority-{{subModuleData.priorityName}}">
                    <span (click)="priorityPop.toggleVisibility()">{{subModuleData.priorityName}}</span>
                </div>
                <app-pop-up-change [style.visibility]="" #priorityPop
                    (dataChange)="updatesubModuleData('priority', $event)"
                    [popUpData]="{class: 'priority', current: { name: subModuleData.priorityName, id: subModuleData.priorityId} }">
                </app-pop-up-change>
            </div> -->

            <!-- Section: Period progress bar -->
            <div class="card-section">
                <span class="section-label">Period</span>
                <div class="progress-bar" matTooltip="{{ periodPercentage()}}%">
                    <span class="date-label">
                        {{ subModuleData.startDate | date : "shortDate" }} - {{ subModuleData.targetDate | date :
                        "shortDate" }}
                    </span>
                    <div class="progress-fill" [style.width.%]="periodPercentage()"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expandable container for work items related to this subModule -->
    <div class="container-work">
        <app-expandable-work-container (newWorkState)="doWhenNewWork($event)" [isExpanded]="expanded"
            [indicatorClass]="'priority-' + subModuleData.priorityName" [workList]="workList"
            [subModuleId]="subModuleData.subModuleId"></app-expandable-work-container>
    </div>
</div>