.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 320px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}
.profile-header {
  display: flex;
  align-items: center;    /* vertikal sejajar */
  justify-content: center;/* center di container */
  gap: 4px;
  margin-bottom: 12px;
}

.profile-header mat-icon {
  font-size: 22px;  /* kecilin dikit supaya proporsional */
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Animasi popup */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  border: 3px solid #1976d2;
}

h2 {
  margin: 8px 0 4px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #555;
  text-align: center;
}

p strong {
  color: #1976d2;
}

.actions {
  margin-top: 16px;
}

button[mat-button] {
  border-radius: 20px;
  padding: 6px 20px;
  font-weight: 500;
  background: #ff6b6b;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

button[mat-button]:hover {
  background: #111827;  
}
.logout-btn {
  margin-top: 16px;
  border-radius: 15px;
  padding: 5px 20px;
  font-weight: 500;
  background: #ff6b6b;
  color: #fff;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto; /* pastikan center */
}

.logout-btn:hover {
  background: #111827;
}











